---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-11-20.acacia
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such checkout.session: 12345",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_UpwfZzduoc5yPj?t=1733884715",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 11 Dec 2024 02:38:35 GMT
recorded_with: VCR 6.3.1
