---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions?payment_intent=pi_3QKRKvElA4InVgv81SMzUj1j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-11-20.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cs_test_a1BBn4RW1sExgdMOA3yk7xvFVn2XGfONbOZsy0h6Up4CROhQKSYxcLJ49U",
              "object": "checkout.session",
              "adaptive_pricing": {
                "enabled": false
              },
              "after_expiration": null,
              "allow_promotion_codes": null,
              "amount_subtotal": 300,
              "amount_total": 300,
              "automatic_tax": {
                "enabled": false,
                "liability": null,
                "status": null
              },
              "billing_address_collection": "auto",
              "cancel_url": "http://localhost:3000/order",
              "client_reference_id": null,
              "client_secret": null,
              "consent": null,
              "consent_collection": null,
              "created": 1731445756,
              "currency": "usd",
              "currency_conversion": null,
              "custom_fields": [],
              "custom_text": {
                "after_submit": null,
                "shipping_address": null,
                "submit": null,
                "terms_of_service_acceptance": null
              },
              "customer": "cus_RCb5X2SQYOwAKG",
              "customer_creation": null,
              "customer_details": {
                "address": {
                  "city": "San Francisco",
                  "country": "USA",
                  "line1": "123 Main St",
                  "line2": "Apt 567",
                  "postal_code": "12355",
                  "state": "UT"
                },
                "email": "dairytest@test.com",
                "name": "Dairy Test",
                "phone": null,
                "tax_exempt": "none",
                "tax_ids": []
              },
              "customer_email": null,
              "expires_at": 1731532156,
              "invoice": null,
              "invoice_creation": {
                "enabled": false,
                "invoice_data": {
                  "account_tax_ids": null,
                  "custom_fields": null,
                  "description": null,
                  "footer": null,
                  "issuer": null,
                  "metadata": {},
                  "rendering_options": null
                }
              },
              "livemode": false,
              "locale": null,
              "metadata": {},
              "mode": "payment",
              "payment_intent": "pi_3QKRKvElA4InVgv81SMzUj1j",
              "payment_link": null,
              "payment_method_collection": "if_required",
              "payment_method_configuration_details": {
                "id": "pmc_1QKI6xElA4InVgv8AaZ4UKa9",
                "parent": null
              },
              "payment_method_options": {
                "card": {
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card",
                "link",
                "cashapp",
                "amazon_pay"
              ],
              "payment_status": "paid",
              "phone_number_collection": {
                "enabled": false
              },
              "recovered_from": null,
              "saved_payment_method_options": {
                "allow_redisplay_filters": [
                  "always"
                ],
                "payment_method_remove": null,
                "payment_method_save": "enabled"
              },
              "setup_intent": null,
              "shipping_address_collection": null,
              "shipping_cost": null,
              "shipping_details": null,
              "shipping_options": [],
              "status": "complete",
              "submit_type": null,
              "subscription": null,
              "success_url": "http://localhost:3000/success",
              "total_details": {
                "amount_discount": 0,
                "amount_shipping": 0,
                "amount_tax": 0
              },
              "ui_mode": "hosted",
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/checkout/sessions"
        }
  recorded_at: Fri, 06 Dec 2024 23:39:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1BBn4RW1sExgdMOA3yk7xvFVn2XGfONbOZsy0h6Up4CROhQKSYxcLJ49U/line_items?expand%5B%5D=data.price.product
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-11-20.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "li_1QKRKqElA4InVgv8Y7FdR1Rz",
              "object": "item",
              "amount_discount": 0,
              "amount_subtotal": 300,
              "amount_tax": 0,
              "amount_total": 300,
              "currency": "usd",
              "description": "Mixed Berry Smoothie (Water base)",
              "price": {
                "id": "price_1QG44XElA4InVgv8dOnqfhyu",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1730403021,
                "currency": "usd",
                "custom_unit_amount": null,
                "livemode": false,
                "lookup_key": null,
                "metadata": {},
                "nickname": null,
                "product": {
                  "id": "prod_R8KkVOibvpRPlc",
                  "object": "product",
                  "active": true,
                  "attributes": [],
                  "created": 1730403020,
                  "default_price": "price_1QG44XElA4InVgv8dOnqfhyu",
                  "description": "Blended mixed berries, filtered water",
                  "images": [
                    "https://files.stripe.com/links/MDB8YWNjdF8xUUczb3lFbEE0SW5WZ3Y4fGZsX3Rlc3Rfeml6NXpDODBvV2JFZUtvNFY2THVXdHpU00nQNlEhQt"
                  ],
                  "livemode": false,
                  "marketing_features": [],
                  "metadata": {},
                  "name": "Mixed Berry Smoothie (Water base)",
                  "package_dimensions": null,
                  "shippable": null,
                  "statement_descriptor": null,
                  "tax_code": "txcd_20030000",
                  "type": "service",
                  "unit_label": null,
                  "updated": 1733198430,
                  "url": null
                },
                "recurring": null,
                "tax_behavior": "unspecified",
                "tiers_mode": null,
                "transform_quantity": null,
                "type": "one_time",
                "unit_amount": 300,
                "unit_amount_decimal": "300"
              },
              "quantity": 1
            }
          ],
          "has_more": false,
          "url": "/v1/checkout/sessions/cs_test_a1BBn4RW1sExgdMOA3yk7xvFVn2XGfONbOZsy0h6Up4CROhQKSYxcLJ49U/line_items"
        }
  recorded_at: Fri, 06 Dec 2024 23:39:48 GMT
recorded_with: VCR 6.3.1
