---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-11-20.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_UOGVwrVwzUSiSh
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "One of the following params should be provided for this request: payment_intent or charge.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_UOGVwrVwzUSiSh?t=1733865100",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 10 Dec 2024 21:11:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: payment_intent=pi_12345&expand[0]=payment_intent
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-11-20.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_ix0LwCwUeXBQvn
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such payment_intent: 'pi_12345'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_ix0LwCwUeXBQvn?t=1733865101",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 10 Dec 2024 21:11:40 GMT
recorded_with: VCR 6.3.1
