---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=some%40email.com
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-11-20.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_KWuYNfQrsjz7Rh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RKOQAiZa9inOIC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1733184385,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "some@email.com",
          "invoice_prefix": "F37FFD17",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 03 Dec 2024 00:06:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&expand%5B%5D=data.default_price
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-11-20.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-11-20.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_R8KkVOibvpRPlc",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730403020,
              "default_price": {
                "id": "price_1QG44XElA4InVgv8dOnqfhyu",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1730403021,
                "currency": "usd",
                "custom_unit_amount": null,
                "livemode": false,
                "lookup_key": null,
                "metadata": {},
                "nickname": null,
                "product": "prod_R8KkVOibvpRPlc",
                "recurring": null,
                "tax_behavior": "unspecified",
                "tiers_mode": null,
                "transform_quantity": null,
                "type": "one_time",
                "unit_amount": 300,
                "unit_amount_decimal": "300"
              },
              "description": "Blended mixed berries, filtered water",
              "images": [
                "https://files.stripe.com/links/MDB8YWNjdF8xUUczb3lFbEE0SW5WZ3Y4fGZsX3Rlc3RfUGczWDd3YkUzR1JBY2tOck14NEVnYXpp00CBDSqGR6"
              ],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Mixed Berry Smoothie (Water base)",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": "txcd_20030000",
              "type": "service",
              "unit_label": null,
              "updated": 1732761774,
              "url": null
            },
            {
              "id": "prod_R8KiBa0tljS7SV",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730402927,
              "default_price": {
                "id": "price_1QG432ElA4InVgv8Zy7PaGPY",
                "object": "price",
                "active": true,
                "billing_scheme": "per_unit",
                "created": 1730402928,
                "currency": "usd",
            [...]
