---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=some%40email.com&address[city]=Some+City&address[country]=Some+Country&address[line1]=Some+address&address[line2]=Some+additional+address&address[postal_code]=12345&address[state]=&name=Some+Name&phone=123-456-7890
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_rvnLhwwOVydgXP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RCsHtnIrVKu0yH",
          "object": "customer",
          "address": {
            "city": "Some City",
            "country": "Some Country",
            "line1": "Some address",
            "line2": "Some additional address",
            "postal_code": "12345",
            "state": ""
          },
          "balance": 0,
          "created": 1731450325,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "some@email.com",
          "invoice_prefix": "00C5BEDE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Some Name",
          "next_invoice_sequence": 1,
          "phone": "123-456-7890",
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 12 Nov 2024 22:25:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-10-28.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_R8KkVOibvpRPlc",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730403020,
              "default_price": "price_1QG44XElA4InVgv8dOnqfhyu",
              "description": "Blended mixed berries, filtered water",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Mixed Berry Smoothie (Water base)",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": "txcd_20030000",
              "type": "service",
              "unit_label": null,
              "updated": 1731379640,
              "url": null
            },
            {
              "id": "prod_R8KiBa0tljS7SV",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730402927,
              "default_price": "price_1QG432ElA4InVgv8Zy7PaGPY",
              "description": "2 salted/peppered eggs, 2 strips of bacon, hummis",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Breakfast Burrito",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": "txcd_20030000",
              "type": "service",
              "unit_label": null,
              "updated": 1731379647,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Tue, 12 Nov 2024 22:25:26 GMT
recorded_with: VCR 6.3.1
