---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Sir+Beebo+Radoton&email=beebo%40rado.com&phone=123-456-7890&description=This+customer+was+created+by+specs+for+testing+only.
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_U4478bdPa15Jlr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RCJC8RKqcIdMHf",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1731319868,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "This customer was created by specs for testing only.",
          "discount": null,
          "email": "beebo@rado.com",
          "invoice_prefix": "C66B8E71",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Sir Beebo Radoton",
          "next_invoice_sequence": 1,
          "phone": "123-456-7890",
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 11 Nov 2024 10:11:07 GMT
recorded_with: VCR 6.3.1
