---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_J73CMHtmcthcIB
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RCgUYAB0tbQgkq",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1731406510,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5BF3A3C3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 12 Nov 2024 10:15:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-10-28.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_R8KkVOibvpRPlc",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730403020,
              "default_price": "price_1QG44XElA4InVgv8dOnqfhyu",
              "description": "Blended mixed berries, filtered water",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Mixed Berry Smoothie (Water base)",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": "txcd_20030000",
              "type": "service",
              "unit_label": null,
              "updated": 1731379640,
              "url": null
            },
            {
              "id": "prod_R8KiBa0tljS7SV",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1730402927,
              "default_price": "price_1QG432ElA4InVgv8Zy7PaGPY",
              "description": "2 salted/peppered eggs, 2 strips of bacon, hummis",
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Breakfast Burrito",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": "txcd_20030000",
              "type": "service",
              "unit_label": null,
              "updated": 1731379647,
              "url": null
            }
          ],
          "has_more": false,
          "url": "/v1/products"
        }
  recorded_at: Tue, 12 Nov 2024 10:15:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_RCgUYAB0tbQgkq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Stripe-Version:
      - 2024-10-28.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RCgUYAB0tbQgkq",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1731406510,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "5BF3A3C3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 12 Nov 2024 10:15:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: success_url=http%3A%2F%2Flocalhost%3A3000%2Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Forder&line_items[0][price]=price_1QG44XElA4InVgv8dOnqfhyu&line_items[0][quantity]=1&line_items[1][price]=price_1QG432ElA4InVgv8Zy7PaGPY&line_items[1][quantity]=1&mode=payment&phone_number_collection[enabled]=false&customer=cus_RCgUYAB0tbQgkq
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_peQOXQ3s186wYt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_b1b7a51APsvufnz30XPK790zgWe6toF6S8aY2bKOKjTw4Ipxbem1CBfqGa",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 600,
          "amount_total": 600,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/order",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1731406513,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_RCgUYAB0tbQgkq",
          "customer_creation": null,
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1731492913,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": null,
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_b1b7a51APsvufnz30XPK790zgWe6toF6S8aY2bKOKjTw4Ipxbem1CBfqGa#fidkdWxOYHwnPyd1blpxYHZxWjA0VEI2anxAaUQxTGtTYnM9QkdkaFx%2Fc1xsPWJCZ05wYzVqU0RHfUZ0PG5XfGtBU2NhdEpDU2hmU01pPDxhQndwVDFNR31Ma1d1VzdfMExmM0J9QTZfb0pTNTVkclVrXExUaicpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPydocGlxbFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
        }
  recorded_at: Tue, 12 Nov 2024 10:15:13 GMT
recorded_with: VCR 6.3.1
