---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=500&currency=usd&customer=cus_RCJC8RKqcIdMHf&description=This+is+is+test+mode+payment+intent.&confirm=true&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&shipping[address][city]=San+Francisco&shipping[address][country]=US&shipping[address][line1]=510+Townsend+St&shipping[address][postal_code]=94103&shipping[address][state]=CA&shipping[name]=Jenny+Rosen&payment_method=pm_card_visa
    headers:
      Authorization:
      - "<BEARER_TOKEN>"
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - "<IDEMPOTENCY_KEY>"
      Original-Request:
      - req_tm2QIoqB3FMcYQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QJuqMElA4InVgv80GAyAw7R",
          "object": "payment_intent",
          "amount": 500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "<CLIENT_SECRET>",
          "confirmation_method": "automatic",
          "created": 1731320858,
          "currency": "usd",
          "customer": "cus_RCJC8RKqcIdMHf",
          "description": "This is is test mode payment intent.",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3QJuqMElA4InVgv8084lgo2X",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QJuqMElA4InVgv8aAbwKw57",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "San Francisco",
              "country": "US",
              "line1": "510 Townsend St",
              "line2": null,
              "postal_code": "94103",
              "state": "CA"
            },
            "carrier": null,
            "name": "Jenny Rosen",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 11 Nov 2024 10:27:38 GMT
recorded_with: VCR 6.3.1
