<h1>Your order has been received</h1>

<h4>Items Ordered:</h4>
<ul>
    <% @line_items.map do |item| %>
        <li><%= item["name"] %> x<%= item["quantity"] %></li>
    <% end %>
</ul>
<hr />

<p>If you would like, you may <%= link_to "return to the site", root_url, target: "_blank" %>, click "Admin Demo", and click "Set Active" next to the order with id <strong style="font-weight: 700"><%= @order.id %></strong>.</p>
<p>Please note that if you login as a demo admin, the email addresses in the orders list are hidden from view just as a precaution.</p>


