@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-950 text-gray-300;
  }

  input {
    @apply text-gray-900;
  }
}

@layer components {
  .green-button {
    @apply bg-green-700 rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-green-500 transition-colors duration-300;
  }
  .blue-button {
    @apply bg-blue-700 rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-blue-500 transition-colors duration-300;
  }

  .red-button {
    @apply bg-red-700 rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-red-500 transition-colors duration-300;
  }
}

.animate-slide-up {
  display: block;
  animation: slide-up 1s;
  padding: 1em;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
