@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-950 text-gray-300;
  }

  input {
    @apply text-gray-900;
  }
}

@layer components {
  .green-button {
    @apply green-background rounded text-gray-100 font-bold py-2 px-4 hover:bg-green-500/90 cursor-pointer  transition-colors duration-300;
  }

  .green-background {
    @apply bg-green-700/80  backdrop-blur;
  }
  .blue-button {
    @apply blue-background rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-blue-500/90 transition-colors duration-300;
  }

  .blue-background {
    @apply bg-gradient-to-br from-blue-600/90 to-blue-700/90 backdrop-blur;
  }

  .dark-blue-background {
    @apply bg-gradient-to-b to-gray-950/80 from-blue-950/80 backdrop-blur;
  }

  .gray-button {
    @apply gray-background rounded text-gray-100 font-bold py-2 px-4 cursor-pointer  transition-colors duration-300;
  }

  .gray-button-hover {
    @apply hover:bg-gradient-to-t hover:from-gray-500/80 hover:to-gray-600/80 rounded transition-colors font-bold;
  }

  .gray-background {
    @apply backdrop-blur overflow-auto bg-gradient-to-b from-gray-600/80 to-gray-700/80;
  }

  .red-button {
    @apply bg-red-700 rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-red-500 transition-colors duration-300;
  }

  .site-link {
    @apply font-bold underline text-blue-200;
  }
}

.animate-slide-up {
  display: block;
  animation: slide-up 1s;
  padding: 1em;
}

.animate-home-title-pulse {
  animation: color-pulse 3s infinite;
}

@keyframes color-pulse {
  from {
    color: #d1d5db;
  }
  to {
    color: #9ca3af;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
